*,
*::after,
*::before {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  text-transform: capitalize;
}
html{
  scroll-behavior: smooth;
}
html::-webkit-scrollbar{
  width: .6rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #37c2cc;
  border-radius: 5rem;
}
body {
  overflow-x: hidden;
  font-size: 100%;
  font-family: "Sen", sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
#advertise {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000a2;
  position: fixed;
  top: 0;
  z-index: 99999999;
  transition: 1s linear;
  > div {
    padding: 30px !important;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 1s linear;
    > * {
      width: 100%;
    }
    >figure{
      display: flex;
      justify-content: center;
      margin-bottom: 1.5rem !important;
      >img{
        width: 88px;
        height: 88px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px dashed #123;
        padding: 1px !important;
      }
    }
    > h5 {
      margin: 15px 0 20px !important;
    }
    > span {
      font-size: 40px;
      &:nth-of-type(1) {
        text-align: left;
        color: crimson;
        cursor: pointer;
        width: fit-content;
        display: block;
        margin-bottom: 15px !important;
        transition: 0.5s ease-in-out;
        &:hover {
          color: rgb(165, 0, 33);
        }
      }
      &:nth-of-type(2) {
        animation: spanDown 1.4s linear infinite;
      }
    }
    section {
      font-size: 45px;
      display: flex;
      justify-content: center;
      margin-bottom: 1rem !important;
      > a {
        transition: 0.5s ease-in-out;
        &:nth-of-type(1) {
          color: #0077b5;
          display: block;
          margin-right: 20px !important;
          &:hover {
            color: #0076b5c3;
          }
        }
        &:nth-of-type(2) {
          color: #171515;
          &:hover {
            color: #171515d0;
          }
        }
      }
    }
  }
}
@keyframes spanDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0 6.9% !important;
  transition: .3s ease-in-out;
  >nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > figure {
      height: 100%;
      display: flex;
      align-items: center;
      > img {
        width: 166px;
        height: 40px;
        max-width: 180px;
        object-fit: cover;
      }
    }
    ul {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      > li {
        padding: 8px 17px !important;
        > a {
          width: fit-content;
          height: fit-content;
          color: rgba(0, 0, 0, 0.9);
          font-size: 17px;
          transition: 0.5s ease-in-out;
          &:hover {
            color: #37c2cc;
          }
        }
      }
    }
    > div {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      > a {
        color: #fff;
        background: #37c2cc;
        padding: 10px 22px !important;
        border: 2px solid transparent;
        border-radius: 10px;
        &:hover {
          color: #fff;
          scale: .98;
        }
      }
    }
    .ham {
      height: fit-content;
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      > span {
        width: 30px;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.9);
        display: block;
        margin: 5px 0 !important;
        transition: 0.5s ease-in-out;
        &:nth-of-type(1),
        &:nth-of-type(3) {
          transform-origin: right;
        }
      }
    }
  }
}
.span1 {
  transform: rotate(-53deg);
  background-color: rgb(205, 6, 6) !important;
}
.span2 {
  opacity: 0;
}
.span3 {
  transform: rotate(55deg);
  background-color: rgb(205, 6, 6) !important;
}
#mobile {
  flex-wrap: wrap;
  position: fixed;
  top: -300px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 9;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 5px 12px !important;
  margin: 0 auto !important;
  border-radius: 0 0 5px 5px;
  transition: 0.6s linear;
  > li {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 6px 0 !important;
    > a {
      width: fit-content;
      height: fit-content;
      color: rgba(0, 0, 0, 0.9);
      transition: .5s ease-in-out;
      &:hover {
        color: #37c2cc;
      }
    }
  }
}
#intro {
  width: 100%;
  padding: 0 6.9% !important;
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    #c2fbff 0%,
    rgba(255, 255, 255, 0) 93.47%
  );
  z-index: 1;
  flex-wrap: wrap;
  > article {
    display: flex;
    flex-direction: column;
    transform: translateX(-800px);
    transition: .4s linear;
    >h1{
      margin-bottom: 15px !important;
      font-size: 55px;
      > strong {
        color: #37c2cc;
      }
    }
    > p {
      margin-bottom: 30px !important;
      color: rgba(0, 0, 0, 0.6);
      font-size: 18px;
      line-height: 30px;
    }
    > a {
      display: flex;
      padding: 15px 28px !important;
      font-size: 18px;
      border-radius: 10px;
      color: #fff;
      border: 2px solid transparent;
      background: #37c2cc;
      overflow: hidden;
      width: fit-content;
      &:hover{
        scale: .98;
      }
    }
  }
  > figure {
    padding-top: 50px !important;
    transform: translateX(800px);
    transition: .4s linear;
}
}
#about {
  width: 100%;
  padding-top: 107px !important;
  > .row {
    width: 100%;
    padding: 0 6.9% !important;
    justify-content: space-between;
    > figure {
      transform: translateX(-800px);
      transition-delay: .4s;
      >img{
        width: 100%;
      }
    }
    > article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      transform: translateX(800px);
      transition: .2s ease-in-out;
      >h2{
        margin-bottom: 20px !important;
        font-size: 3rem;
        >strong{
          color: #37c2cc;
        }
      }
      p {
        margin-bottom: 20px !important;
        color: rgba(0, 0, 0, 0.6);
        line-height: 30px;
      }
      > a {
        display: flex;
        padding: 15px 28px !important;
        font-size: 18px;
        border-radius: 10px;
        width: fit-content;
        border: 2px solid #37c2cc;
        background: transparent;
        color: #37c2cc;
        &:hover{
          scale: .98;
        }
      }
    }
  }
}
#features{
  width: 100%;
  margin-top: 2rem !important;
  position: relative;
  background-image: url(../img/common-bg.svg);
  background-size: cover;
  background-position: bottom center;
  padding-top: 180px !important;
  padding-bottom: 110px !important;
  .row{
    width: 100%;
    padding: 0 6.9% !important;
    justify-content: space-between;
    >div{
      >h2{
        margin-bottom: 20px !important;
        line-height: 48px;
        >strong{
          color: #37c2cc;
        }
      }
      >p{
        line-height: 30px;
      }
}
    >section{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      >article{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 3.8rem !important;
        transition: 4s linear;        opacity: 0;
        &:hover>section>div::before{
          background: #3ed6e1;
        }
        &:hover>section>div>i{
          color: #fff;
        }
        >section{
          width: 100%;
          display: flex;
          >div{
            width: 62px;
            height: 66px;
            position: relative;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px !important;
            &::before{
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              border-radius: 8px;
              transform: skew(-3deg);
              background: #D5F1F3;
              transition: .5s ease-in-out;
              z-index: -1;
            }
            >i{
              font-size: 40px;
              color: black;
              transition: .5s ease-in-out;
            }
            &::after{
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              border-radius: 8px;
              transform: skew(-3deg);
              background: transparent;
              border: 2px solid #D5F1F3;
              top: 8px;
              left: -8px;
              z-index: -2;
              transition: .5s ease-in-out;
            }
          }
        }
        >h4{
          width: 100%;
          margin-bottom: 15px !important;
        }
        >p{
          line-height: 30px;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
}
#template{
  width: 100%;
  padding-top: 110px !important;
  >.row{
    width: 100%;
    padding: 0 6.9% !important;
    justify-content: space-between;
    align-items: center;
    >article{
      transform: translateX(-800px);
      transition: .2s ease-in-out;
      >h2{
        font-size: 45px;
        margin-bottom: 20px !important;
        line-height: 57px;
        >strong{
          color: #37c2cc;
        }
      }
      p{
        margin-bottom: 30px !important;
        line-height: 30px;
        color: rgba(0, 0, 0, 0.6);
      }
      a{
        display: flex;
        padding: 15px 28px !important;
        font-size: 18px;
        border-radius: 10px;
        color: #37c2cc;
        border: 2px solid #37c2cc;
        background: transparent;
        overflow: hidden;
        width: fit-content;
        &:hover{
          scale: .98;
        }
      }
    }
    >figure{
      text-align: right !important;
      transform: translateX(800px);
      transition-delay: .4s;
      >img{
        width: 100%;
      }
    }
  }
}
#pricing{
  width: 100%;
  padding-top: 160px !important;
  background-image: url(../img/common-bg.svg);
  background-size: cover;
  >.row{
    width: 100%;
    padding: 0 6.9% !important;
    >.title{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      >h2{
        margin-bottom: 15px !important;
        font-size: 3rem;
        >strong{
          color: #37c2cc;
        }
      }
      p{
        color: rgba(0, 0, 0, 0.6);
        
        line-height: 30px;
      }
      >*{
        width: 100%;
      }
    }
    >.content{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 4rem !important;
      flex-wrap: wrap;
      >article{
        background: #fff;
        box-shadow: 0px 0px 50px rgba(183, 199, 240, 0.25);
        border-radius: 14px;
        padding: 52px 30px !important;
        margin-bottom: 50px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        >&:nth-of-type(2){
          >.btn-price{
            text-align: center;
            >a{
              color: #fff;
              background: #37c2cc;
            }
          }
          >.body-price{
            >ul{
              >li{
                &:nth-of-type(4){
                  >span{
                    background: #37c2cc;
                  }
                }
              }
            }
          }
          >#popular{
            position: absolute;
            background: #37c2cc;
            border-radius: 50%;
            z-index: -1;
            width: 140px;
            height: 140px;
            top: -70px;
            right: -50px;
            box-shadow: #c2fbffad 0px 20px 30px -10px;
            >span{
              color: #fff;
              font-size: 17px;
              position: absolute;
              top: 63%;
              right: 40%;
            }
          }
        }
        >&:nth-of-type(3){
          >.body-price{
            >ul{
              >li{
                &:nth-of-type(4), &:nth-of-type(5){
                  >span{
                    background: #37c2cc;
                  }
                }
              }
            }
          }
        }
        >.title-price{
          width: 100%;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 1.4rem;
          >h5{
            margin-bottom: 20px !important;
          }
          >h2{
            margin-bottom: 30px !important;
            >span{
              font-size: 16px;
              color: rgba(0, 0, 0, 0.5);
              font-weight: 400;
            }
          }
        }
        >.body-price{
          width: 100%;
          padding-top: 30px !important;
          padding-bottom: 25px !important;
          border-bottom: 1px solid #D5F1F3;
          border-radius: 1.4rem;
          >ul{
            width: 100%;
            >li{
              width: 100%;
              display: flex;
              align-items: center;
              margin-bottom: 12px !important;
              &:nth-of-type(4), &:nth-of-type(5){
                >span{
                  background: rgba(0, 0, 0, 0.2);
                }
              }
              >span{
                width: 8px;
                height: 8px;
                border-radius: 50%;
                margin-right: 13px !important;
                background: #37c2cc;
              }
            }
          }
        }
        >.btn-price{
          width: 100%;
          margin-top: 2.6rem !important;
          >a{
            padding: 18px 28px !important;
            font-size: 18px;
            border-radius: 10px;
            color: #37c2cc;
            z-index: 5;
            border: 2px solid transparent;
            background: #e3fdff;
          }
        }
      }
    }
  }
}
#team{
  width: 100%;
  padding-top: 100px !important;
  margin-top: 4rem !important;
  >.row{
    width: 100%;
    padding: 0 6.9% !important;
    >.team-content{
      width: 100%;
      text-align: center;
      >*{
        width: 100%;
      }
      >h2{
        margin-bottom: 15px !important;
        >strong{
          color: #37c2cc;
        }
      }
    }
    .team-person{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 4rem !important;
      padding: 0 2.5% !important;
      >figure{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        >figcaption{
          background: #fff;
          box-shadow: -2px 3px 2px #37c2cc;
          min-width: 210px;
          text-align: center;
          border-radius: 7px;
          padding: 12px 20px !important;
          display: flex;
          justify-content: center;
          align-items: center;
          width: fit-content;
          flex-wrap: wrap;
          margin-top: 1rem !important;
          >h5{
            margin-bottom: 4px;
            color: #37c2cc;
            width: 100%;
          }
          >p{
            color: rgba(0, 0, 0, 0.6);
            font-size: 14px;
          }
          }
        }
        >img{
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  footer{
    width: 100%;
    padding-top: 120px !important;
    margin-top: 2rem !important;
    >.row{
      width: 100%;
      padding: 0 5% !important;
      >section{
          display: flex;
          flex-direction: column;
          >h3{
            text-align: center;
            margin-bottom: 20px !important;
            margin-top: 10px !important;
          }
        >ul{
          width: 100%;
          >li{
            width: 100%;
            display: flex;
            justify-content: center;
            >a{
              line-height: 30px;
              width: fit-content;
              color: rgba(0,0,0,.7);
              transition: all .4s ease-in-out;
              &:hover{
                margin-left: 13px !important;
                color: #37c2cc;
              }
            }
          }
        }
        >figure{
          margin-bottom: 30px !important;
        }
        >p{
          margin-bottom: 25px !important;
          color: rgba(0, 0, 0, 0.6);
        }
        >.netWork{
          width: 100%;
          display: flex;
          >a{
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background: #e3fdff;
            color: rgba(0,0,0,.9);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            margin-right: 22px !important;
            transition: all .4s ease-in-out;
            &:hover{
              background: #37c2cc;
              color: #fff;
            }
            >i{
              display: grid;
              place-items: center;
            }
          }
        }
        >.sub{
          display: flex;
          justify-content: center;
          width: 100%;
          >form{
            display: flex;
            flex-wrap: wrap;
            >input{
              width: 100%;
              background: #F1FEFF;
              border: 1px solid #37C2CC;
              border-radius: 10px;
              margin-bottom: 20px !important;
              padding: 15px 20px !important;
            }
            >button{
              padding: 12px 28px !important;
              font-size: 18px;
              border-radius: 10px;
              color: #fff;
              cursor: pointer;
              transition: all .4s ease-in-out;
              border: 2px solid transparent;
              background: #37C2CC;
              overflow: hidden;
              &:hover{
                scale: .98;
              }
            }
          }
        }
      }
    }
  }